:root {
    --gray: rgb(170, 165, 165);
    --maroon: rgb(60, 3, 3);
    --lightmode: rgb(253, 110, 110);
    --lightmode-text: rgb(7, 7, 80);
}

body {
    font-family: "Copperplate", "Copperplate Gothic Light", fantasy;
    font-size: 16px;
    text-align: center;
}

.dark {
    background-color: var(--maroon);
    color: var(--gray);
}

.light {
    background-color: var(--lightmode);
    color: var(--lightmode-text);
}

main button,
section button {
    font-family: "Copperplate", "Copperplate Gothic Light", fantasy;
    font-size: 115%;
    background-color: var(--gray);
    font-weight: bold;
    border: solid 1px black;   
}

/* table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    text-align: center;
    border: 4px solid black;
}

tbody tr:nth-child(even) {
    background-color: var(--gray);
} */
main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100vh;

}

main button {
    height: 20px;

}